.navbar-content {
    list-style: none;
}
body {
    background-image: url(./12676.jpg);
    /* background-position: 50%; */
    background-repeat: no-repeat;
    /* background-size: cover; */
}
.bg-color {
    background: rgba(253, 245, 230, 0.4);
}
.navbar-content li {
    font-weight: 700;
}

.card {
    width: 300px;
}

.card-img-top {
    width: 100%;
}